{% load mptt_tags %}

<div class="card mb-4">
    <div class="card-header">Categories</div>
    <div class="card-body ">
        {% full_tree_for_model blog.Category as categories %}
        <ul>
            {% recursetree categories %}
                <li>
                    <a href="{{ node.get_absolute_url }}">{{ node.title }}</a>
                </li>

                {% if not node.is_leaf_node %}
                    <ul>
                {% endif %}
                     {{ children }}
                {% if not node.is_leaf_node %}
                    </ul>
                {% endif %}
            {% endrecursetree %}
        </ul>
    </div>
</div>